
<div [ngClass]="{'scheduler':currView != 4}">
    <div class="container">
            <div class="week-btns">
                <ng-container *ngIf="this.currView == 2">
                    <button>Week 1</button>
                    <button>Week 2</button>
                </ng-container>
            </div>
            <div class="searchBar">
                <input type="text" class="text-box" placeholder="Search here..">
            </div>
            
    </div>

    <div #widgetsContent>
        <dx-scheduler
    [dataSource]="appointmentsData"
    currentView="timelineDay"
    [firstDayOfWeek]="0"
    [startDayHour]="startDayHour"
    [endDayHour]="endDayHour"
    [cellDuration]="duration"
    [groups]="currView!=3?['priority']:''"
    [currentDate]="currentDate"
    [maxAppointmentsPerCell]="currView==4?'unlimited':count"
    appointmentTemplate="appointmentTemplate"
    [crossScrollingEnabled]="true"
    [height]="height"

    (onOptionChanged)="optionChanged($event)">
    <div *dxTemplate="let model of 'appointmentTemplate'" style="padding: 5px;">
        <span><b>{{model.startDate | date:'shortTime'}} - {{model.endDate | date:'shortTime'}}</b></span><br>
        <span>Client<b>&nbsp;{{model.startDate | date:'shortTime'}} - {{model.endDate | date:'shortTime'}}</b></span><br>
        <span><b>{{model.text}}</b>&nbsp;<i>{{model.text1}}</i></span>
        <div *ngIf="model.text !== ''">
        <i>{{model.text1}}</i>
        </div>
        <span>Location: <b>Cherry Blossom</b></span><br>
        <span>Role: <b>Support Cash - ACC</b></span><br>
        <span><b>0/2</b> Clients in shift</span><br>
        <!-- <span>Client Cost : <b>$0.00</b></span><br> -->
    </div>
    <dxi-view
        name="Daily"
        type="timelineDay">
    </dxi-view>
    <dxi-view
        name="Weekly"
        type="timelineWeek">
    </dxi-view>
    <dxi-view
        name="Fortnightly"
        type="timelineWeek"
        [intervalCount]="2">
    </dxi-view>
    <dxi-view
        name="Monthly"
        type="month" >
    </dxi-view>
    <dxi-resource
        fieldExpr="ownerId"
        [allowMultiple]="true"
        [dataSource]="resourcesData"
        label="Owner"
        [useColorAsDefault]="true"
    ></dxi-resource>
    <!-- <dxi-resource
        fieldExpr="priority"
        [allowMultiple]="true"
        [dataSource]="prioritiesData"
        label="week"
        [useColorAsDefault]="true"
    ></dxi-resource> -->
</dx-scheduler>
    </div>
   
</div>