
<div [ngClass]="{'scheduler':currView != 4}">
    <div class="searchBar">
        <input type="text" class="text-box" placeholder="Search here..">
    </div>
    <!-- <div class="buttonDiv">
        <a (click)="changeView()">{{buttonLabel}}</a>
    </div> -->
    <!-- <div *ngIf="viewAll">
        <dx-scheduler
            [dataSource]="appointmentsData"
            currentView="timelineDay"
            [firstDayOfWeek]="0"
            [startDayHour]="00"
            [endDayHour]="24"
            [cellDuration]="60"
            [groups]="['priority']"
            [currentDate]="currentDate"
            [maxAppointmentsPerCell]="count"
            appointmentTemplate="appointmentTemplate"
            [crossScrollingEnabled]="true"
            [height]="height">
            <div *dxTemplate="let model of 'appointmentTemplate'">
                <span>{{model.name}}</span><br>
                <span>{{model.text}}</span>
            </div>
            <dxi-view
                name="Daily"
                type="timelineDay">
            </dxi-view>
            <dxi-view
                name="Weekly"
                type="timelineWeek">
            </dxi-view>
            <dxi-view
                name="Fortnightly"
                type="timelineWeek"
                [intervalCount]="2">
            </dxi-view>
            <dxi-view
                name="Monthly"
                type="timelineMonth">
            </dxi-view>
            <dxi-resource
                fieldExpr="ownerId"
                [allowMultiple]="true"
                [dataSource]="resourcesData"
                label="Owner"
                [useColorAsDefault]="true"
            ></dxi-resource>
        </dx-scheduler>
    </div>
    <div *ngIf="!viewAll">
        <dx-scheduler
            id="scheduler"
            [dataSource]="appointmentsData"
            currentView="timelineDay"
            [firstDayOfWeek]="0"
            [startDayHour]="00"
            [endDayHour]="24"
            [cellDuration]="60"
            [groups]="['priority']"
            [currentDate]="currentDate"
            appointmentTemplate="appointmentTemplate"
            (onOptionChanged)="clicked($event)"
            crossScrollingEnabled="true"
            [height]="600">
            <div *dxTemplate="let model of 'appointmentTemplate'" class="appnmnt">
                <span>{{model.name}}</span><br>
                <span>{{model.text}}</span>
            </div>
            <dxi-view
                name="Daily"
                type="timelineDay">
            </dxi-view>
            <dxi-view
                name="Weekly"
                type="timelineWeek">
            </dxi-view>
            <dxi-view
                name="Fortnightly"
                type="timelineWeek"
                [intervalCount]="2">
            </dxi-view>
            <dxi-view
                name="Monthly"
                type="timelineMonth">
            </dxi-view>
            <dxi-resource
                fieldExpr="priority"
                [allowMultiple]="false"
                [dataSource]="prioritiesData"
                label="Priority"
            ></dxi-resource>
            <dxi-resource
                fieldExpr="ownerId"
                [allowMultiple]="true"
                [dataSource]="resourcesData"
                label="Owner"
                [useColorAsDefault]="true"
            ></dxi-resource>
            
        </dx-scheduler>
    </div> -->
    <dx-scheduler
    [dataSource]="appointmentsData"
    currentView="timelineDay"
    [firstDayOfWeek]="0"
    [startDayHour]="startDayHour"
    [endDayHour]="endDayHour"
    [cellDuration]="currView!=4?1440:60"
    [groups]="currView!=4?['priority']:''"
    [currentDate]="currentDate"
    [maxAppointmentsPerCell]="currView==4?'unlimited':count"
    appointmentTemplate="appointmentTemplate"
    [crossScrollingEnabled]="true"
    [height]="height"

    (onOptionChanged)="optionChanged($event)">
    <div *dxTemplate="let model of 'appointmentTemplate'" style="padding: 5px;">
        <span><b>{{model.startDate | date:'shortTime'}} - {{model.endDate | date:'shortTime'}}</b></span><br>
        <span>Client<b>&nbsp;{{model.startDate | date:'shortTime'}} - {{model.endDate | date:'shortTime'}}</b></span><br>
        <span><b>{{model.text}}</b>&nbsp;<i>{{model.text1}}</i></span>
        <div *ngIf="model.text !== ''">
        <i>{{model.text1}}</i>
        </div>
        <span>Location: <b>Cherry Blossom</b></span><br>
        <span>Role: <b>Support Cash - ACC</b></span><br>
        <span><b>0/2</b> Clients in shift</span><br>
        <!-- <span>Client Cost : <b>$0.00</b></span><br> -->
    </div>
    <dxi-view
        name="Daily"
        type="timelineDay">
    </dxi-view>
    <dxi-view
        name="Weekly"
        type="timelineWeek">
    </dxi-view>
    <dxi-view
        name="Fortnightly"
        type="timelineWeek"
        [intervalCount]="2">
    </dxi-view>
    <dxi-view
        name="Monthly"
        type="month" >
    </dxi-view>
    <dxi-resource
        fieldExpr="ownerId"
        [allowMultiple]="true"
        [dataSource]="resourcesData"
        label="Owner"
        [useColorAsDefault]="true"
    ></dxi-resource>
    <!-- <dxi-resource
        fieldExpr="priority"
        [allowMultiple]="true"
        [dataSource]="prioritiesData"
        label="week"
        [useColorAsDefault]="true"
    ></dxi-resource> -->
</dx-scheduler>
</div>